header{
    background-image: url('../images/backgroundfinal.jpg');
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: poppins;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    max-width: 1070px;
    width: 100%;
    margin: auto;
}
body{
  background-color: white;
  font-family: poppins;
  text-align: center;
  color: black;
}
.logo{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;
    text-align: left;
    background-color: white;
    text-decoration: none;
  }
  .logo span{
    color: #40aa54;
  }
  nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li{
    margin-right: 20px;
  }
  nav ul li a{
    text-decoration: none;
    color: #202020;
    font-weight: bold;
  }
  nav li a:hover{
    color: #40aa54;
    transition: all ease 0.3s;
  }
  .search-bar input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: poppins;
  }
  .search-bar button{
    padding: 8px 12px;
    background-color: #40aa54;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: poppins;
  }
  .container{
    display: flex;
    justify-content: space-between;
  }
  .box{
    width: 30%;
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
    color: #202020;
  }
  .box h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: poppins;
  }
  .box p{
    font-size: 1em;
    font-family: poppins;
  }
  .box img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
    transition: transform 0.3 ease;
  }
  h5{
    color: white;
    background-color: white;
  }
  .vege-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
  }
  .product{
    background-color: white;
    border: 1px solid darkgreen;
    padding: 20px;
    text-align: center;
  }
  .product img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .footer-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #40aa54;
    color: #fff;
  }
  
  .footer-nav, .social-media, .copyright{
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-nav ul, .social-media ul{
    list-style: none;
    padding: 0;
  }
  
  .footer-nav ul li a, .social-media ul li a{
    color: #fff;
    text-decoration: none;
    font-family: poppins;
  }
  .social-media ul li img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #40aa54;
    padding: 5px;
    transition: background-color 0.3s ease;
  }
  .copyright p{
    font-size: 0.9em;
    color: white;
    text-align: center;
    margin: 10px;
    font-family: poppins;
  }
  @media only screen and (max-width: 700px){
    header{
      padding: 15px;
      justify-content: center;
    }
    .navigation{
      padding: 10px;
      flex-direction: column;
    }
    .logo{
      font-size: 1.2rem;
      text-align: center;
    }
    nav ul{
      justify-content: center;
      margin-top: 10px;
    }
    nav ul li{
      margin: 0 10px;
    }
    .container{
      flex-direction: column;
      align-items: center;
    }
    .box{
      width: 80%;
    }
    .vege-grid{
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    .footer-container{
      flex-direction: column;
      padding: 10px;
    }
    .footer-nav, .social-media{
      margin: 0;
      text-align: center;
    }
    .social-media ul li img{
      margin: 5px;
    }
  }
  